<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>writes.olezh.es</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:500,700|Noto+Serif" rel="stylesheet">
</head>
<body>

<div class="site-container">
    <header class="site-header">
        <h1 class="site-header__title">райтс.<wbr><a class="site-header__title-link" href="//olezh.es">олеж.ес</a></h1>
        <p class="site-header__desc">
            Учусь писать. Эксперимент в прямом эфире.
        </p>
        <p class="site-header__desc">
            Я пробовал уже несколько раз. Но вот то и дело встречались подводные камни.
        </p>
        <p class="site-header__desc">
            Сначала я по науке пытался сочинять и вылизывать текст. Сидел на кровати: слева ноут, справа &laquo;Пиши, сокращай&raquo;
            Ильяхова. Попробовал раз, два, и это было так долго, что стало впадлу. Забил.
        </p>
        <p class="site-header__desc">
            Через какое-то время узнал про фрирайтинг. Фрирайтинг — это когда пишешь, не нажимая кнопку delete, вообще никак не редактируешь,
            то есть как думаешь, так с первого раза набираешь текст. Сначала казалось прикольно. Слова летели легко. Пишу-пишу, а потом раз какие-то другие
            дела и опять не до текстов. Понял, что скучно мне писать в стол и ни кому не показывать.
        </p>
        <p class="site-header__desc">
            Попытки с публичным блогом вообще не было. Я тогда начинал сомневаться сразу: &laquo;О, бож, я ж фигово пишу, это будет выглядеть
            обоссано&raquo;. ¯\_(ツ)_/¯
        </p>
        <p class="site-header__desc">
            В итоге, сейчас попытка №4.
        </p>
        <p class="site-header__desc">
            Идея: каждый пост тут живет лишь 3 месяца, прямо как истории в инстаграме. Он стирается, и его уже больше никто не видит.
        </p>
    </header>

    <section>
        <%- post('2018-05-20') %>
    </section>

    <footer class="site-footer">
        <div class="site-footer__also">
            <a class="site-footer__also-item site-footer__link" href="https://t.me/reo7sp" target="_blank">комментировать</a>
        </div>
        <div class="site-footer__bump">&nbsp;</div>
    </footer>
</div>

<!-- Yandex.Metrika counter --> <script type="text/javascript" > (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter48938342 = new Ya.Metrika({ id:48938342, clickmap:true, trackLinks:true, accurateTrackBounce:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks"); </script> <noscript><div><img src="https://mc.yandex.ru/watch/48938342" style="position:absolute; left:-9999px;" alt="" /></div></noscript> <!-- /Yandex.Metrika counter -->

</body>
</html>
