body {
    font-family: 'Noto Serif', serif;
    font-size: 16px;
    line-height: 26px;
    color: #222;
    margin: 26px 20px;
}

.site-container {
    max-width: 640px;
    margin: 0 auto;
}


.site-header {
    margin: 78px 0 0 0;
}

.site-header__link {
    color: inherit;
}

.site-header__title-link {
    color: inherit;
}

.site-header__title {
    margin: 26px 0 39px 0;
    font-size: 64px;
    font-family: 'Montserrat', sans-serif;
    line-height: 64px;
}

.site-header__desc {
    margin: 26px 0;
}


.article {
    margin: 52px 0 26px 0;
}

.article__title {
    margin: 26px 0;
    margin-bottom: 0;
    font-family: 'Montserrat', sans-serif;
}

.article__subtitle {
    margin: 26px 0;
    margin-top: 0;
    color: #888;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}

.article__desc {
    margin: 26px 0;
    font-size: 32px;
}


.site-footer {
    margin: 56px 0 82px 0;
    color: #888;
}

.site-footer__link {
    color: #888;
}

.site-footer__also {
    float: right;
}

.site-footer__also-item {
    margin-left: 8px;
}
